<html>
  <head>
    <!-- Good ol' Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Metadata (with templating) -->
    <title>{{ title }} | An Epic Site Blog</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "common/navbar.html" %}
    <div class="container bg-light" style="padding-top: 5rem !important;">
      <a href="/">Back to Home</a>
      <h1 class="display-4">{{ title }}</h1>
      <p class="small">{{ date }} | By {{ author }}</p>
      {{ content }}
    </div>
  </body>
</html>
