<html>
  <head>
    <!-- Good ol' Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Metadata (with templating) -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include 'common/navbar.html' %}
    <div class="container p-5" style="padding-top: 5rem !important">
      <h1 class="display-4">Blog Posts</h1>
      {% for post in posts %}
      <h3 style="margin-top: 2rem">{{ post.title }}</h3>
      <p style="margin-bottom: 0.5rem">{{ post.preview }}</h3>
      <p>{{ post.date }}</h3>
      <a href="{{ post.link }}">Read More</a>
      {% endfor %}
    </div>
  </body>
</html>
