<div class="container-fluid h-100 fullspread p-5">
  <h1 class="display-2 text-light">{{ fullspread.display }}</h1>
  <p class="lead text-light">{{ fullspread.lead }}</p>
  {% for button in fullspread.buttons %}
  <a class="btn {{ button.type }}" href="{{ button.link }}">{{ button.text }}</a>
  {% endfor %}
</div>
<style>
.fullspread {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("static/{{ fullspread.image }}");
  text-align: center;
  padding-top: 30vh !important;
}
</style>
