<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ navbar.brand }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in navbar.nav_items %}
        <li class="nav-item">
          {% if item.link == current_link %}
          <a class="nav-link active" aria-current="page" href="{{ item.link }}">
            {{ item.name }}
          </a>
          {% else %}
          <a class="nav-link" aria-current="page" href="{{ item.link }}">
            {{ item.name }}
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<style>
.navbar {
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}
</style>
